* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./overlapping-fine-neon-green-matrix-dvfxd08moa4d5hy8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.okvir {
  width: 80%;
  max-width: 1600px;
  height: 60vh;
  max-height: 700px;
  border: 7px solid rgb(6, 5, 5);
  margin: 70px auto 0 auto;
  padding: 20px;
  overflow-y: hidden;
  position: relative;
  word-break: break-word;
  box-shadow: 1px 1px #8c8c8c, 1px 22px 10px rgb(249, 247, 247),
    1px 15px 25px rgba(252, 252, 252, 0.983), 1px 15px 30px rgb(255, 251, 251);
  background-color: #fffdfd; /* Independent background color for .okvir */
}

.members-list {
  /* Promenite na fiksni položaj */
  position: relative;
  /* Ostatak stila */
  display: inline block;
  top: 5%;
  left: 10%;

  max-width: fit-content;
  text-align: center;
  font-size: 1.4em;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgb(255, 255, 255), rgb(245, 241, 242));
  padding: 1px;
}

.members-count {
  position: relative;
  /* Ostatak stila */
  display: inline-block;

  top: 4%;
  left: 10%;
  border: 6px solid;
  padding: 7px;
  border-image: repeating-linear-gradient(
      to bottom right,
      #100f0f,
      #363535,
      #878787,
      rgb(234, 232, 232)
    )
    20;
  max-width: fit-content;
  text-align: center;
  font-size: 1.4em;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgb(255, 255, 255), rgb(245, 241, 242));
  padding: 1px;
}

.message-form {
  margin-top: 3em;
  text-align: center;
  font-size: 25px;
  font-family: cursive;
}

.message-form__button {
  font-size: 0.8em;
  background-color: rgb(218, 224, 224);
  padding: 7px 12px;
  font-weight: 600;
}

.messages {
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 1em auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  height: calc(100% - 120px); /* Adjust based on the height of other elements */
  overflow-y: auto;
  font-size: 1.5rem;
}

.message {
  display: block;
  max-width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  background-color: #fff;
  font-family: cursive;
}

.message.mine {
  background-color: #000000;
  color: #fff;
}

.message .member {
  font-weight: bold;
  margin-right: 10px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.message.mine .member,
.message.mine .text {
  color: #fff;
}

.message:first-child.mine {
  background-color: #050505;
  color: #fff;
}

.message:first-child.mine .text {
  color: #f8f4f4;
}

.message-form__input {
  height: 50px;
  width: 80%;
  border: 6px solid black;
  max-width: 500px;

  font-size: 1em;
  background: linear-gradient(rgb(196, 196, 200), rgb(245, 241, 242));
}

/* Dodajte ove stilove */
.message.janko {
  background-color: rgb(197, 197, 197);
  color: rgb(0, 0, 0);
}

.message.marko {
  background-color: rgb(209, 207, 207);
  color: rgb(6, 6, 6);
}
